/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Begin CSS */

html, body {
  height: 100%;
  width: 100%;
	color: #4A4A4A;
  background-color: white;
	font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

/* Layout */

nav {
	background-color: #000;
	color: #fff;
	padding-top: 2em;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	width: 85%;
	margin: 0 auto;
}

nav a {
	color: #DEDEDE;
}

#hero {
	background-color: #000;
	color: #fff;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo {
}

.nav-container img {
	height: 50px;
	width: auto;
}

#social-icons {
	display: flex;
}

.space-nav {
	margin-right: 25px;
}

.container {
	width: 85%;
	margin: 80px auto;
	max-width: 1440px;
}

.container-1 {
	width: 85%;
	margin: 80px auto;
	max-width: 1440px;
}

.container-left {
	display: inline-block;
  width: 37%;
	margin-right: 3%;
}

.container-right {
	display: inline-block;
  width: 59%;
	vertical-align: top;
}

.portfolio {
	display: flex;
	box-sizing: border-box;
  align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.half {
	box-sizing: border-box;
	flex-basis: 50%;
	padding: .75em;
}

.half img {
  width: 100%;
  height: auto;
}

.half-container {
	position: relative;
	transition: all .2s ease-in-out 0s;
	color: rgba(255, 0, 0, 0);
}

.text {
  color: #fff;
  font-size: 1.8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #0000ff;
}

.half-container:hover .overlay {
  opacity: .8;
}

.half-container:hover {
	transition: all .2s ease-in-out 0s;
	transform: scale(1.03);
	box-shadow: 0 20px 40px -20px rgba(0, 0, 0, .5);
}


img {
	width: 100%;
	height: auto;
}

.container-portfolio {
	width: 60%;
	margin: 80px auto;
	max-width: 1440px;
}

.back-home {
	position: fixed;
	bottom: 0;
	right: 15px;
}

footer {
	text-align: center;
	background-color: #f1f1f1;
	padding: 10px;
}

/* Text */

h1 {
  font-size: 2.6em;
  font-weight: 400;
	line-height: 1.5em;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #DEDEDE;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	color: #DEDEDE;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.4;
	margin-bottom: .5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.7;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #0000ff;
}

p {
  font-size: 1.2em;
  line-height: 1.9em;
	color: #818282;
}

div.container-portfolio p {
	margin-bottom: 2em;
}

.space {
	margin-bottom: 5em;
}

.space-half {
	margin-bottom: 2em;
}

a {
  color: #000;
  text-decoration: none;
  position: relative;
}

a::after {
	content: '';
	height: 2px;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0%;
	background: #0000ff;
	transition: 0.3s;
}

a:hover::after {
  width: 100%;
}

a img::after {
	height: 0;
}

a img:hover::after {
	width: 0;
}

header a:hover {
	color: #0000ff;
}

header a:hover::after {
  width: 0;
}

footer p {
	font-size: .9em;
	text-align: center;
	color: #4A4A4A;
}


/*Selection Color*/

::-moz-selection {
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

/*Media Queries*/

@media (max-width: 48em) {

  h1 {
    font-size: 2.2em;
    line-height: 1.2em;
		text-align: center;
		padding: 10px;
  }

  h2 {
    font-size: 1.7em;
    line-height: 1.8em;
  }

	p {
		line-height: 1.8em;
	}

	.nav-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#social-icons {
		flex-direction: column;
		text-align: center;
		padding-top: 15px;
	}

	#logo {
		font-size: 1.5em;
	}

	.space-nav {
		margin-right: 0;
	}

	.container-left {
	    width: 100%;
			margin-bottom: 10px;
	}

	.container-right {
	    width: 100%;
			padding: 0%;
	}

	.container-1 {
		width: 100%;
	}

	.half {
		flex-basis: 100%
	}

	.container-portfolio {
		width: 85%;
	}

	.footer {
	   padding: 20px 5px;
	}
}
