/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Begin CSS */

html, body {
  height: 100%;
  width: 100%;
	color: black;
  background-color: white;
}


/*Layout Stuff*/

#hero-image {
	background-color: #f1f1f1;
	color: black;
}

#hero-image-content {
	background-color: #f1f1f1;
	color: black;
	display: flex;
  justify-content: center;
  align-items: center;
	height: 250px;
	padding-bottom: 100px;
}

#logo {
  margin: 15px;
	text-align: left;
	width: 75px;
	height: 75px;
}

#social-icons {
	float: right;
	padding: 15px;
}

.container {
	width: 85%;
	margin: 80px auto;
}
.container-left {
	display: inline-block;
  width: 30%;
}

.container-right {
	display: inline-block;
  width: 60%;
	padding-left: 9%;
	vertical-align: top;
}

.portfolio {
	width: 85%;
	margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.back-home {
	position: fixed;
	bottom: 0;
	right: 15px;
}

footer {
	text-align: center;
}

.space {
	margin-bottom: 25px;
}

/*Text Stuff*/

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 4em;
  font-weight: 700;
	text-align: center;
	line-height: 1.5em;
}

h2 {
	font-family: 'Karla', sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.4;
	text-align: left;
}

h3 {
	font-family: 'Karla', sans-serif;
  font-size: .8em;
  font-weight: 700;
  line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 2.1em;
	text-align: left;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer p {
	font-size: .9em;
	text-align: center;
	color: black;
}


/*Selection Color*/

::-moz-selection {
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black
}

/*Media Queries*/

@media (max-width: 48em) {
  h1 {
    font-size: 2.6em;
    line-height: 1em;
  }

  h2 {
    font-size: 1.7em;
    line-height: 1.4em;
  }

	p {
		line-height: 1.8em;
	}

	#logo {
		width: 45px;
		height: 45px;
	}

	.container-left {
	    width: 100%;
			margin-bottom: 10px;
	}

	.container-right {
	    width: 100%;
			padding: 0%;
	}

	.footer {
	   padding: 0px;
	}
}
